/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background: url('../images/bg.png');
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-attachment: fixed;
    background-position: center;
}
.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}

#userPhoto {
    width: 100px;
    height: 100px;
    display: block;
    margin: 70px auto 20px ;
    border-radius: 20%;
    border: 3px solid #fff;
}
.link-verified {
    color: #3897F0
}
#userName {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#userName h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin: 0 auto;   
}

#userName p {
    font-weight: 300;
    margin-top: 5px;
    text-transform: none;
}

i.fa {
    margin-right: 0.3rem;
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
    border: none;
}

.link{
    display: block;
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: var(--font);
    border-radius: 9px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: ease-out 0.3s;
    border: 4px solid #fb8042;
    position: relative;
    z-index: 1;
}

.link:hover{
    color: #ffffff;
    cursor: pointer;
}
/* Colors for social links*/

.link:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #fb8042;
  }
.link:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }
.footer{
    color: rgba(255, 255, 255, 0.705);
    transition: 0.5s;
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 65px;
    margin-bottom: 50px;
}

.footer:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}